.MainPageInfoCardsItems{
align-items: stretch;
   justify-content: space-around;
   flex-flow: row wrap;
}

.cardContent{
      flex-grow: 1;
   text-align: center;
  align-items: stretch;
flex-basis: 0;
}